* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    border: 2px solid red;
}

/* ======================================================= */

.section1{
    height: 10vh;
}

/* ======================================================= */

.section2{
    height: 90vh;
}

/* ======================================================= */

.section3{
    height: 100vh;
}

/* ======================================================= */

.section4{
    height: 100vh;
}

/* ======================================================= */

.section5{
    height: 100vh;
}

/* ======================================================= */

.section6{
    height: 90vh;
}

/* ======================================================= */

.section7{
    height: 80vh;
}

/* ======================================================= */

.section8{
    height: 100vh;
}

/* ======================================================= */